<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
		<h2>User Detail</h2><hr/>
		 <ul>
			<li th:text="'User Id: ' + ${user.id}"></li>
			<li th:text="'User Name: ' + ${user.name}"></li>
			<li th:text="'User Gender: ' + ${user.gender}"></li>
			<li th:text="'User Image: ' + ${user.image}"></li>
		</ul> 
	</div>
</body>
</html>