<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

</head>
<body>
<div class="container">
	<h2 th:text="#{message.welcome}"></h2>
	<a class="btn btn-primary" href="/user/add">Add User</a>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Gender</th>
				<th>Image</th>
				<th>Action</th>
				<!-- <th>More</th> -->
			</tr>
		</thead>
		<tbody th:each="user:${users}">
			<tr class="active">
				<td th:text="${user.id}"></td>
				<td th:text="${user.name}"></td>
				
				<!-- <td th:text="${user.gender}=='M'?'Male':'Female'"></td> -->
				<!-- <td>
					<span th:if="${user.gender=='M'}">Male</span>
					<span th:unless="${user.gender=='M'}">Female</span>
				</td> -->
				
				<td>
					<div th:switch="${user.gender}">
						<span th:case="'M'">Male</span>
						<span th:case="'F'">Female</span>
					</div>
				</td>
				 
				<td><img th:src="@{${user.image}}" /></td>
				<td>
					<form th:action="@{user/remove(id=${user.id})}" method="post" class="btn-group">
				
						<a th:href="@{/user/detail/(id=${user.id})}" class="btn btn-info">detail</a>  
						<a th:href="@{/user/edit/(id=${user.id})}" class="btn btn-primary" >edit</a> 
						
						<input type="submit" class="btn btn-danger" value="remove"/>
					</form>
					 
					<!-- <a th:href="@{/user/remove/(id=${user.id})}" class="btn btn-danger">remove</a> --> 
				</td>
				<!-- <td><a th:href="@{'/user/' + ${user.id}}">more</a></td> -->
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>